<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/layout.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <header>
      <h1>Lima.Monumentos</h1>
    </header>
    <section id="main">
      {{{ content }}}
    </section>
    <footer></footer>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="https://www.parsecdn.com/js/parse-1.3.0.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/assets/gmaps.js"></script>
    <script type="text/javascript" src="/assets/app.js"></script>
  </body>
</html>